body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background: #003366;
  color: black;
  padding: 15px;
  text-align: center;
}

nav {
  background: #0059b3;
  overflow: hidden;
}

nav a {
  float: left;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background: #003366;
}

.container {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 5px;
}
h1, h2 {
  color: #003366;
}
